*{
    margin: 0;
    font-family: 'IBM Plex Mono', sans-serif;
}
#body{
    background: black;
    position: relative;
    width: 100%;
    height: 100%;
}
#header {
    background: url(./imagenes/brackground.svg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 3% 10%;
}
#header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;

}
.iconos i{
    margin-left: 20px;
    color: white;
}
.banner {
    display: flex;
    padding: 80px 10%;
    justify-content: space-between;
}

.imagen{
    width: 250px;
    height: 250px;
    background: gray;
    border-radius: 50%;
    border-radius: 2px dotted #ffffff;
    

}
.quien-soy{
    display: flex;
    flex-direction: column;
    
}





